<!--
====================================================
COMPONENTE: SUMMER CAMPS INTRO
====================================================
-->

<section class="summer-camps-intro">

    <div class="page-container summer-camps-intro__container">

        <header class="summer-camps-intro__header">

            <h2 class="summer-camps-intro__title">
                Campamentos internacionales de verano
            </h2>

            <p class="summer-camps-intro__description">
                Te brindan la oportunidad de pasar unas vacaciones
                inteligentes y activas que constituirán una alternativa
                dinámica, sana y divertida junto al aprendizaje de
                lenguas extranjeras.
            </p>

        </header>

        <div class="summer-camps-intro__gallery">

            <figure class="summer-camps-intro__item">

                <img src="/images/pages/summer-camps/summer-camp-1.jpg" alt="Cabañas de un campamento internacional"
                    loading="lazy">

            </figure>

            <figure class="summer-camps-intro__item">

                <img src="/images/pages/summer-camps/summer-camp-2.jpg"
                    alt="Jóvenes participando en un campamento de verano" loading="lazy">

            </figure>

            <figure class="summer-camps-intro__item">

                <img src="/images/pages/summer-camps/summer-camp-3.jpg"
                    alt="Instalaciones para participantes de Summer Camps" loading="lazy">

            </figure>

        </div>

    </div>

</section>