<!--
====================================================
COMPONENTE: FAQ PAGE POSTS

Página:
Preguntas

Contenido:
- Artículos relacionados
- Internacionalización mediante i18next
====================================================
-->

<section class="faq-posts">

    <div class="faq-posts__container">


        <!-- ==========================================
             ARTÍCULO 1
        ========================================== -->

        <article class="faq-post">

            <a href="#" class="faq-post__image">

                <img src="/images/pages/preguntas/a.jpeg" alt="Consejos para planificar cursos de idiomas"
                    data-i18n-alt="questionsPage.posts.languageCourses.imageAlt">

            </a>


            <div class="faq-post__content">

                <h3 class="faq-post__title" data-i18n="questionsPage.posts.languageCourses.title">
                    Consejos para planificar cursos de idiomas en el exterior
                </h3>


                <a href="#" class="faq-post__button" data-i18n="questionsPage.posts.readMore">
                    Leer más
                </a>

            </div>

        </article>


        <!-- ==========================================
             ARTÍCULO 2
        ========================================== -->

        <article class="faq-post">

            <a href="#" class="faq-post__image">

                <img src="/images/pages/preguntas/d.jpg" alt="English for 15 plus"
                    data-i18n-alt="questionsPage.posts.english15.imageAlt">

            </a>


            <div class="faq-post__content">

                <h3 class="faq-post__title" data-i18n="questionsPage.posts.english15.title">
                    English for 15+
                </h3>


                <a href="#" class="faq-post__button" data-i18n="questionsPage.posts.readMore">
                    Leer más
                </a>

            </div>

        </article>


        <!-- ==========================================
             ARTÍCULO 3
        ========================================== -->

        <article class="faq-post">

            <a href="#" class="faq-post__image">

                <img src="/images/pages/preguntas/c.jpeg" alt="Requisitos para estudiar en España"
                    data-i18n-alt="questionsPage.posts.studySpain.imageAlt">

            </a>


            <div class="faq-post__content">

                <h3 class="faq-post__title" data-i18n="questionsPage.posts.studySpain.title">
                    Requisitos para estudiar en España
                </h3>


                <a href="#" class="faq-post__button" data-i18n="questionsPage.posts.readMore">
                    Leer más
                </a>

            </div>

        </article>

    </div>

</section>