<!--
====================================================
COMPONENTE: FAQ PAGE CONTACT

Página:
Preguntas
====================================================
-->

<section class="faq-posts">

    <div class="faq-posts__container">

        <article class="faq-post">

            <a
                href="#"
                class="faq-post__image">

                <img
                    src="/images/pages/preguntas/a.jpeg"
                    alt="Consejos para planificar cursos de idiomas">

            </a>

            <div class="faq-post__content">

                <h3 class="faq-post__title">
                    Consejos para planificar cursos de idiomas en el exterior
                </h3>

                <a
                    href="#"
                    class="faq-post__button">

                    Leer más

                </a>

            </div>

        </article>

        <article class="faq-post">

            <a
                href="#"
                class="faq-post__image">

                <img
                    src="/images/pages/preguntas/d.jpg"
                    alt="English for 15 plus">

            </a>

            <div class="faq-post__content">

                <h3 class="faq-post__title">
                    English for 15+
                </h3>

                <a
                    href="#"
                    class="faq-post__button">

                    Leer más

                </a>

            </div>

        </article>

        <article class="faq-post">

            <a
                href="#"
                class="faq-post__image">

                <img
                    src="/images/pages/preguntas/c.jpeg"
                    alt="Requisitos para estudiar en España">

            </a>

            <div class="faq-post__content">

                <h3 class="faq-post__title">
                    Requisitos para estudiar en España
                </h3>

                <a
                    href="#"
                    class="faq-post__button">

                    Leer más

                </a>

            </div>

        </article>

    </div>

</section>
