<!-- TÍTULO DE SERVICIOS -->
<div class="services-title">
    <div class="elementor-element-custom_font_size elementor-element-custom_font_weight elementor-element elementor-element-33707e2 elementor-invisible elementor-widget elementor-widget-text-editor"
        data-id="33707e2" data-element_type="widget"
        data-settings="{&quot;_animation&quot;:&quot;gt3-slideup-animation&quot;}"
        data-widget_type="text-editor.default">
        <div class="elementor-widget-container">
            <div class="elementor-text-editor elementor-clearfix">
                <h5 class="services-title__sub">globalexchange</h5>
            </div>
        </div>
    </div>
    <div class="elementor-element elementor-element-71b4482 elementor-invisible elementor-widget elementor-widget-heading"
        data-id="71b4482" data-element_type="widget"
        data-settings="{&quot;_animation&quot;:&quot;gt3-slideup-animation&quot;}" data-widget_type="heading.default">
        <div class="elementor-widget-container">
            <h2 class="services-title__main elementor-heading-title elementor-size-default">Nuestros Servicios</h2>
        </div>
    </div>
    <div class="elementor-element elementor-element-24b0c58 gt3_rotated_element elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image"
        data-id="24b0c58" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}"
        data-widget_type="image.default">
        <div class="elementor-widget-container">
            <div class="elementor-image">
                <img class="services-title__deco" width="26" height="26"
                    src="/images/decorations/home_06_icon_22.png" class="attachment-full size-full" alt=""
                    loading="lazy" title="home_06_icon_22">
            </div>
        </div>
    </div>
    <div class="elementor-element elementor-element-86024f6 gt3_rotated_element elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image"
        data-id="86024f6" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}"
        data-widget_type="image.default">
        <div class="elementor-widget-container">
            <div class="elementor-image">
                <img class="services-title__deco" width="72" height="74"
                    src="/images/decorations/triangle_orange.png" class="attachment-full size-full" alt=""
                    loading="lazy" title="triangle">
            </div>
        </div>
    </div>
    <div class="elementor-element elementor-element-7776b0b gt3_rotated_element elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image"
        data-id="7776b0b" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}"
        data-widget_type="image.default">
        <div class="elementor-widget-container">
            <div class="elementor-image">
                <img class="services-title__deco" width="72" height="74"
                    src="/images/decorations/triangle_blue.png" class="attachment-full size-full" alt=""
                    loading="lazy" title="triangle">
            </div>
        </div>
    </div>
    <div class="elementor-element elementor-element-cdd51bd gt3_rotated_element elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image"
        data-id="cdd51bd" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}"
        data-widget_type="image.default">
        <div class="elementor-widget-container">
            <div class="elementor-image">
                <img class="services-title__deco" width="26" height="26"
                    src="/images/decorations/home_06_icon_22.png" class="attachment-full size-full" alt=""
                    loading="lazy" title="home_06_icon_22">
            </div>
        </div>
    </div>
    <div class="elementor-element elementor-element-04af53c gt3_moved_element elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image"
        data-id="04af53c" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}"
        data-widget_type="image.default">
        <div class="elementor-widget-container">
            <div class="elementor-image">
                <img class="services-title__deco" width="42" height="42"
                    src="/images/decorations/home_06_icon_23.png" class="attachment-full size-full" alt=""
                    loading="lazy" title="home_06_icon_23">
            </div>
        </div>
    </div>
</div>

<!-- GRID DE SERVICIOS -->
<section
    class="services elementor-section elementor-inner-section elementor-element elementor-element-303ac15 gt3_cycled_animation elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="303ac15" data-element_type="section">
    <div class="services__container elementor-container elementor-column-gap-extended">
        <div class="elementor-row">

            <!-- COLUMNA 1 -->
            <div class="services__col elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-5e4e7f8"
                data-id="5e4e7f8" data-element_type="column"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="services__col-content elementor-widget-wrap">

                        <!-- PROGRAMA IDIOMÁTICO -->
                        <div class="services__card elementor-element elementor-element-a2aa2a0 elementor-vertical-align-top elementor-widget elementor-widget-gt3-core-imagebox"
                            data-id="a2aa2a0" data-element_type="widget" data-widget_type="gt3-core-imagebox.default">
                            <div class="elementor-widget-container">
                                <div class="gt3-core-imagebox-wrapper elementor-image_icon-position-beside">
                                    <div class="gt3-core-imagebox-content">
                                        <div class="gt3-core-imagebox-title">
                                            <figure class="gt3-core-imagebox-img gt3-core-imagebox-img_hover">
                                                <a href="#">
                                                    <img width="512" height="512"
                                                        src="/images/services/idiomas.png"
                                                        class="attachment-full size-full" alt="" loading="lazy"
                                                        srcset="/images/services/idiomas.png 512w, /images/services/idiomas-300x300.png 300w, /images/services/idiomas-150x150.png 150w, /images/services/idiomas-480x480.png 480w, /images/services/idiomas-400x400.png 400w"
                                                        sizes="(max-width: 512px) 100vw, 512px" title="idiomas">
                                                    <img width="512" height="512"
                                                        src="/images/services/idiomas.png"
                                                        class="attachment-full size-full" alt="" loading="lazy"
                                                        srcset="/images/services/idiomas.png 512w, /images/services/idiomas-300x300.png 300w, /images/services/idiomas-150x150.png 150w, /images/services/idiomas-480x480.png 480w, /images/services/idiomas-400x400.png 400w"
                                                        sizes="(max-width: 512px) 100vw, 512px" title="idiomas">
                                                </a>
                                            </figure>
                                            <h3 class="services__card-title gt3-core-imagebox-title">
                                                <a
                                                    href="https://globalexchange.com.ec/cursos-de-idiomas-en-el-extranjero-2/index.htm">PROGRAMA
                                                    IDIOMÁTICO</a>
                                            </h3>
                                        </div>
                                        <p class="services__card-desc gt3-core-imagebox-description">Aprende o
                                            perfecciona una lengua con GLOBAL EXCHANGE En 76 destinos del mundo.
                                            Disfruta de un ambiente exclusivo en nuestras academias de lengua.<br></p>
                                        <center>No hay limite de edad <br>"18 años en adelante"</center>
                                    </div>
                                </div>
                                <a href="#"></a>
                            </div>
                        </div>

                        <!-- UNIVERSIDAD EN EL EXTERIOR -->
                        <div class="services__card elementor-element elementor-element-cfabd60 elementor-vertical-align-top elementor-widget elementor-widget-gt3-core-imagebox"
                            data-id="cfabd60" data-element_type="widget" data-widget_type="gt3-core-imagebox.default">
                            <div class="elementor-widget-container">
                                <div class="gt3-core-imagebox-wrapper elementor-image_icon-position-beside">
                                    <div class="gt3-core-imagebox-content">
                                        <div class="gt3-core-imagebox-title">
                                            <figure class="gt3-core-imagebox-img gt3-core-imagebox-img_hover">
                                                <a href="#">
                                                    <img width="512" height="512"
                                                        src="/images/services/studying.png"
                                                        class="attachment-full size-full" alt="" loading="lazy"
                                                        srcset="/images/services/studying.png 512w, /images/services/studying-300x300.png 300w, /images/services/studying-150x150.png 150w, /images/services/studying-480x480.png 480w, /images/services/studying-400x400.png 400w"
                                                        sizes="(max-width: 512px) 100vw, 512px" title="studying">
                                                    <img width="512" height="512"
                                                        src="/images/services/studying.png"
                                                        class="attachment-full size-full" alt="" loading="lazy"
                                                        srcset="/images/services/studying.png 512w, /images/services/studying-300x300.png 300w, /images/services/studying-150x150.png 150w, /images/services/studying-480x480.png 480w, /images/services/studying-400x400.png 400w"
                                                        sizes="(max-width: 512px) 100vw, 512px" title="studying">
                                                </a>
                                            </figure>
                                            <h3 class="services__card-title gt3-core-imagebox-title">
                                                <a href="https://globalexchange.com.ec/acceso-universitario/index.htm">UNIVERSIDAD
                                                    EN EL EXTERIOR</a>
                                            </h3>
                                        </div>
                                        <p class="services__card-desc gt3-core-imagebox-description">Las mejores
                                            universidades del mundo esperan por ti. Te ayudamos a aplicar a
                                            universidades internacionales en países como Francia, Italia, Alemania,
                                            Bélgica, Australia, Austria, Holanda y Suiza; son países que ofrecen
                                            educación pública casi gratuita.</p>
                                    </div>
                                </div>
                                <a href="#"></a>
                            </div>
                        </div>

                        <!-- SUMMER CAMP -->
                        <div class="services__card elementor-element elementor-element-0d58de1 elementor-vertical-align-top elementor-widget elementor-widget-gt3-core-imagebox"
                            data-id="0d58de1" data-element_type="widget" data-widget_type="gt3-core-imagebox.default">
                            <div class="elementor-widget-container">
                                <div class="gt3-core-imagebox-wrapper elementor-image_icon-position-beside">
                                    <div class="gt3-core-imagebox-content">
                                        <div class="gt3-core-imagebox-title">
                                            <figure class="gt3-core-imagebox-img gt3-core-imagebox-img_hover">
                                                <a href="#">
                                                    <img width="512" height="512"
                                                        src="/images/services/tent.png"
                                                        class="attachment-full size-full" alt="" loading="lazy"
                                                        srcset="/images/services/tent.png 512w, /images/services/tent-300x300.png 300w, /images/services/tent-150x150.png 150w, /images/services/tent-480x480.png 480w, /images/services/tent-400x400.png 400w"
                                                        sizes="(max-width: 512px) 100vw, 512px" title="tent">
                                                    <img width="512" height="512"
                                                        src="/images/services/tent.png"
                                                        class="attachment-full size-full" alt="" loading="lazy"
                                                        srcset="/images/services/tent.png 512w, /images/services/tent-300x300.png 300w, /images/services/tent-150x150.png 150w, /images/services/tent-480x480.png 480w, /images/services/tent-400x400.png 400w"
                                                        sizes="(max-width: 512px) 100vw, 512px" title="tent">
                                                </a>
                                            </figure>
                                            <h3 class="services__card-title gt3-core-imagebox-title">
                                                <a href="https://globalexchange.com.ec/summer-camps/index.htm">SUMMER
                                                    CAMP</a>
                                            </h3>
                                        </div>
                                        <p class="services__card-desc gt3-core-imagebox-description">Las escuelas
                                            normalmente ofrecen excursiones y eventos especiales en los días festivos
                                            como navidad, spring-break, graduación, entre otros</p>
                                    </div>
                                </div>
                                <a href="#"></a>
                            </div>
                        </div>

                        <!-- NANNY -->
                        <div class="services__card elementor-element elementor-element-5837fb8 elementor-vertical-align-top elementor-widget elementor-widget-gt3-core-imagebox"
                            data-id="5837fb8" data-element_type="widget" data-widget_type="gt3-core-imagebox.default">
                            <div class="elementor-widget-container">
                                <div class="gt3-core-imagebox-wrapper elementor-image_icon-position-beside">
                                    <div class="gt3-core-imagebox-content">
                                        <div class="gt3-core-imagebox-title">
                                            <figure class="gt3-core-imagebox-img gt3-core-imagebox-img_hover">
                                                <a href="#">
                                                    <img width="512" height="512"
                                                        src="/images/services/cot.png"
                                                        class="attachment-full size-full" alt="" loading="lazy"
                                                        srcset="/images/services/cot.png 512w, /images/services/cot-300x300.png 300w, /images/services/cot-150x150.png 150w, /images/services/cot-480x480.png 480w, /images/services/cot-400x400.png 400w"
                                                        sizes="(max-width: 512px) 100vw, 512px" title="cot">
                                                    <img width="512" height="512"
                                                        src="/images/services/cot.png"
                                                        class="attachment-full size-full" alt="" loading="lazy"
                                                        srcset="/images/services/cot.png 512w, /images/services/cot-300x300.png 300w, /images/services/cot-150x150.png 150w, /images/services/cot-480x480.png 480w, /images/services/cot-400x400.png 400w"
                                                        sizes="(max-width: 512px) 100vw, 512px" title="cot">
                                                </a>
                                            </figure>
                                            <h3 class="services__card-title gt3-core-imagebox-title">
                                                <a
                                                    href="https://globalexchange.com.ec/programa-nanny-intercambios-alemania-usa-holanda/index.htm">NANNY</a>
                                            </h3>
                                        </div>
                                        <p class="services__card-desc gt3-core-imagebox-description">Haz un intercambio
                                            cultural durante un año, mientras trabajas como Nanny en el seno de una
                                            familia anfitriona.<br><br><b>No incluye </b><br>- Pasajes Aéreos<br>-
                                            Presentación consular <br>- Traducciones / apostillado de documentos</p>
                                    </div>
                                </div>
                                <a href="#"></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- COLUMNA 2 -->
            <div class="services__col elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-8dfa260"
                data-id="8dfa260" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="services__col-content elementor-widget-wrap">

                        <!-- EDUCACION DUAL -->
                        <div class="services__card elementor-element elementor-element-f4e84ac elementor-vertical-align-top elementor-widget elementor-widget-gt3-core-imagebox"
                            data-id="f4e84ac" data-element_type="widget" data-widget_type="gt3-core-imagebox.default">
                            <div class="elementor-widget-container">
                                <div class="gt3-core-imagebox-wrapper elementor-image_icon-position-beside">
                                    <div class="gt3-core-imagebox-content">
                                        <div class="gt3-core-imagebox-title">
                                            <figure class="gt3-core-imagebox-img gt3-core-imagebox-img_hover">
                                                <a href="#">
                                                    <img width="512" height="512"
                                                        src="/images/services/educacion-a-distancia.png"
                                                        class="attachment-full size-full" alt="" loading="lazy"
                                                        srcset="/images/services/educacion-a-distancia.png 512w, /images/services/educacion-a-distancia-300x300.png 300w, /images/services/educacion-a-distancia-150x150.png 150w, /images/services/educacion-a-distancia-480x480.png 480w, /images/services/educacion-a-distancia-400x400.png 400w"
                                                        sizes="(max-width: 512px) 100vw, 512px"
                                                        title="educacion-a-distancia">
                                                    <img width="512" height="512"
                                                        src="/images/services/educacion-a-distancia.png"
                                                        class="attachment-full size-full" alt="" loading="lazy"
                                                        srcset="/images/services/educacion-a-distancia.png 512w, /images/services/educacion-a-distancia-300x300.png 300w, /images/services/educacion-a-distancia-150x150.png 150w, /images/services/educacion-a-distancia-480x480.png 480w, /images/services/educacion-a-distancia-400x400.png 400w"
                                                        sizes="(max-width: 512px) 100vw, 512px"
                                                        title="educacion-a-distancia">
                                                </a>
                                            </figure>
                                            <h3 class="services__card-title gt3-core-imagebox-title">
                                                <a href="#">EDUCACION DUAL</a>
                                            </h3>
                                        </div>
                                        <p class="services__card-desc gt3-core-imagebox-description">El componente
                                            básico de un programa de estudio dual es la combinación de trabajo práctico
                                            en una empresa y clases teóricas en una universidad o centro de formación
                                            cooperativa.<br><br><b>Países</b></p>
                                        <center>Alemania, Bélgica, Francia, Holanda, Austria, China, Suiza, Australia,
                                            Liechtenstein, Noruega, Italia.</center>
                                    </div>
                                </div>
                                <a href="#"></a>
                            </div>
                        </div>

                        <!-- AUSBILDUNG -->
                        <div class="services__card elementor-element elementor-element-f8f52e8 elementor-vertical-align-top elementor-widget elementor-widget-gt3-core-imagebox"
                            data-id="f8f52e8" data-element_type="widget" data-widget_type="gt3-core-imagebox.default">
                            <div class="elementor-widget-container">
                                <div class="gt3-core-imagebox-wrapper elementor-image_icon-position-beside">
                                    <div class="gt3-core-imagebox-content">
                                        <div class="gt3-core-imagebox-title">
                                            <figure class="gt3-core-imagebox-img gt3-core-imagebox-img_hover">
                                                <a href="#">
                                                    <img width="512" height="512"
                                                        src="/images/services/educacion.png"
                                                        class="attachment-full size-full" alt="" loading="lazy"
                                                        srcset="/images/services/educacion.png 512w, /images/services/educacion-300x300.png 300w, /images/services/educacion-150x150.png 150w, /images/services/educacion-480x480.png 480w, /images/services/educacion-400x400.png 400w"
                                                        sizes="(max-width: 512px) 100vw, 512px" title="educacion">
                                                    <img width="512" height="512"
                                                        src="/images/services/educacion.png"
                                                        class="attachment-full size-full" alt="" loading="lazy"
                                                        srcset="/images/services/educacion.png 512w, /images/services/educacion-300x300.png 300w, /images/services/educacion-150x150.png 150w, /images/services/educacion-480x480.png 480w, /images/services/educacion-400x400.png 400w"
                                                        sizes="(max-width: 512px) 100vw, 512px" title="educacion">
                                                </a>
                                            </figure>
                                            <h3 class="services__card-title gt3-core-imagebox-title">
                                                <a href="#">AUSBILDUNG</a>
                                            </h3>
                                        </div>
                                        <p class="services__card-desc gt3-core-imagebox-description">La formación
                                            Ausbildung es una medida educativa en la que se imparten o desarrollan
                                            conocimientos y habilidades de trabajo y a la finalización de la
                                            capacitación, las personas pueden ejercer una actividad específica técnica.
                                        </p>
                                    </div>
                                </div>
                                <a href="#"></a>
                            </div>
                        </div>

                        <!-- SISTEMA DE EDUCACIÓN EUROPEO -->
                        <div class="services__card elementor-element elementor-element-10a264b elementor-vertical-align-top elementor-widget elementor-widget-gt3-core-imagebox"
                            data-id="10a264b" data-element_type="widget" data-widget_type="gt3-core-imagebox.default">
                            <div class="elementor-widget-container">
                                <div class="gt3-core-imagebox-wrapper elementor-image_icon-position-beside">
                                    <div class="gt3-core-imagebox-content">
                                        <div class="gt3-core-imagebox-title">
                                            <figure class="gt3-core-imagebox-img gt3-core-imagebox-img_hover">
                                                <a href="#">
                                                    <img width="512" height="512"
                                                        src="/images/services/airplane-1.png"
                                                        class="attachment-full size-full" alt="" loading="lazy"
                                                        srcset="/images/services/airplane-1.png 512w, /images/services/airplane-1-300x300.png 300w, /images/services/airplane-1-150x150.png 150w, /images/services/airplane-1-480x480.png 480w, /images/services/airplane-1-400x400.png 400w"
                                                        sizes="(max-width: 512px) 100vw, 512px" title="airplane (1)">
                                                    <img width="512" height="512"
                                                        src="/images/services/airplane-1.png"
                                                        class="attachment-full size-full" alt="" loading="lazy"
                                                        srcset="/images/services/airplane-1.png 512w, /images/services/airplane-1-300x300.png 300w, /images/services/airplane-1-150x150.png 150w, /images/services/airplane-1-480x480.png 480w, /images/services/airplane-1-400x400.png 400w"
                                                        sizes="(max-width: 512px) 100vw, 512px" title="airplane (1)">
                                                </a>
                                            </figure>
                                            <h3 class="services__card-title gt3-core-imagebox-title">
                                                <a href="#">SISTEMA DE EDUCACIÓN EUROPEO</a>
                                            </h3>
                                        </div>
                                        <p class="services__card-desc gt3-core-imagebox-description">Bachelor
                                            (licenciatura) en 6 semestres. Maestrías 2-3 años (tercer nivel) gratuito.
                                            <br>Doctorado 2 años gratuito. <br>Posdoctorado 2 años gratuito. Nivel
                                            educacional de alto reconocimiento, ubicando sus universidades dentro de las
                                            100 mejores del mundo.</p>
                                    </div>
                                </div>
                                <a href="#"></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- COLUMNA 3 -->
            <div class="services__col elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-c60d4d7"
                data-id="c60d4d7" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="services__col-content elementor-widget-wrap">

                        <!-- PASANTÍAS UNIVERSITARIAS -->
                        <div class="services__card elementor-element elementor-element-f36da1d elementor-vertical-align-top elementor-widget elementor-widget-gt3-core-imagebox"
                            data-id="f36da1d" data-element_type="widget" data-widget_type="gt3-core-imagebox.default">
                            <div class="elementor-widget-container">
                                <div class="gt3-core-imagebox-wrapper elementor-image_icon-position-beside">
                                    <div class="gt3-core-imagebox-content">
                                        <div class="gt3-core-imagebox-title">
                                            <figure class="gt3-core-imagebox-img gt3-core-imagebox-img_hover">
                                                <a href="#">
                                                    <img width="512" height="512"
                                                        src="/images/services/businessman.png"
                                                        class="attachment-full size-full" alt="" loading="lazy"
                                                        srcset="/images/services/businessman.png 512w, /images/services/businessman-300x300.png 300w, /images/services/businessman-150x150.png 150w, /images/services/businessman-480x480.png 480w, /images/services/businessman-400x400.png 400w"
                                                        sizes="(max-width: 512px) 100vw, 512px" title="businessman">
                                                    <img width="512" height="512"
                                                        src="/images/services/businessman.png"
                                                        class="attachment-full size-full" alt="" loading="lazy"
                                                        srcset="/images/services/businessman.png 512w, /images/services/businessman-300x300.png 300w, /images/services/businessman-150x150.png 150w, /images/services/businessman-480x480.png 480w, /images/services/businessman-400x400.png 400w"
                                                        sizes="(max-width: 512px) 100vw, 512px" title="businessman">
                                                </a>
                                            </figure>
                                            <h3 class="services__card-title gt3-core-imagebox-title">
                                                <a
                                                    href="https://globalexchange.com.ec/pasantias-profesionales-en-el-exterior/index.htm">PASANTÍAS
                                                    UNIVERSITARIAS</a>
                                            </h3>
                                        </div>
                                        <p class="services__card-desc gt3-core-imagebox-description">Desarrolla tu
                                            capacidad lingüística y habilidades laborales en un entorno de trabajo
                                            real.<br><br><b> Programas </b></p>
                                        <center>Alemán, Francés, Italiano, Inglés</center>
                                        <b>Opciones en el Exterior</b>
                                        <center>- Prácticas profesionales <br>- Plazas de trabajo <br>- Maestrías
                                            gratuitas <br></center>
                                        <b>Tiempo</b>
                                        <center>4/8/12 semanas <br>1 a 3 años</center>
                                    </div>
                                </div>
                                <a href="#"></a>
                            </div>
                        </div>

                        <!-- ESCOLARIDAD -->
                        <div class="services__card elementor-element elementor-element-c5adb34 elementor-vertical-align-top elementor-widget elementor-widget-gt3-core-imagebox"
                            data-id="c5adb34" data-element_type="widget" data-widget_type="gt3-core-imagebox.default">
                            <div class="elementor-widget-container">
                                <div class="gt3-core-imagebox-wrapper elementor-image_icon-position-beside">
                                    <div class="gt3-core-imagebox-content">
                                        <div class="gt3-core-imagebox-title">
                                            <figure class="gt3-core-imagebox-img gt3-core-imagebox-img_hover">
                                                <a href="#">
                                                    <img width="512" height="512"
                                                        src="/images/services/idiomas-2.png"
                                                        class="attachment-full size-full" alt="" loading="lazy"
                                                        srcset="/images/services/idiomas-2.png 512w, /images/services/idiomas-2-300x300.png 300w, /images/services/idiomas-2-150x150.png 150w, /images/services/idiomas-2-480x480.png 480w, /images/services/idiomas-2-400x400.png 400w"
                                                        sizes="(max-width: 512px) 100vw, 512px" title="idiomas">
                                                    <img width="512" height="512"
                                                        src="/images/services/idiomas-2.png"
                                                        class="attachment-full size-full" alt="" loading="lazy"
                                                        srcset="/images/services/idiomas-2.png 512w, /images/services/idiomas-2-300x300.png 300w, /images/services/idiomas-2-150x150.png 150w, /images/services/idiomas-2-480x480.png 480w, /images/services/idiomas-2-400x400.png 400w"
                                                        sizes="(max-width: 512px) 100vw, 512px" title="idiomas">
                                                </a>
                                            </figure>
                                            <h3 class="services__card-title gt3-core-imagebox-title">
                                                <a
                                                    href="https://globalexchange.com.ec/services/index.htm">ESCOLARIDAD</a>
                                            </h3>
                                        </div>
                                        <p class="services__card-desc gt3-core-imagebox-description"><b>Programa de
                                                Escolaridad Global Exchange</b><br>La oportunidad de sumergirte en la
                                            cultura y el idioma del país de destino está en tus manos, en este proceso
                                            nuestro (a) estudiante vivirá en el país del exterior durante: un trimestre
                                            o año escolar.<br>Cursos 1ero, 2do y 3ero de bachillerato en el exterior.
                                        </p>
                                    </div>
                                </div>
                                <a href="#"></a>
                            </div>
                        </div>

                        <!-- CURSOS ESPECIALES -->
                        <div class="services__card elementor-element elementor-element-b0f3198 elementor-vertical-align-top elementor-widget elementor-widget-gt3-core-imagebox"
                            data-id="b0f3198" data-element_type="widget" data-widget_type="gt3-core-imagebox.default">
                            <div class="elementor-widget-container">
                                <div class="gt3-core-imagebox-wrapper elementor-image_icon-position-beside">
                                    <div class="gt3-core-imagebox-content">
                                        <div class="gt3-core-imagebox-title">
                                            <figure class="gt3-core-imagebox-img gt3-core-imagebox-img_hover">
                                                <a href="#">
                                                    <img width="512" height="512"
                                                        src="/images/hero/idiomas-1.png"
                                                        class="attachment-full size-full" alt="" loading="lazy"
                                                        srcset="/images/hero/idiomas-1.png 512w, /images/services/idiomas-1-300x300.png 300w, /images/services/idiomas-1-150x150.png 150w, /images/services/idiomas-1-480x480.png 480w, /images/services/idiomas-1-400x400.png 400w"
                                                        sizes="(max-width: 512px) 100vw, 512px" title="idiomas (1)">
                                                    <img width="512" height="512"
                                                        src="/images/hero/idiomas-1.png"
                                                        class="attachment-full size-full" alt="" loading="lazy"
                                                        srcset="/images/hero/idiomas-1.png 512w, /images/services/idiomas-1-300x300.png 300w, /images/services/idiomas-1-150x150.png 150w, /images/services/idiomas-1-480x480.png 480w, /images/services/idiomas-1-400x400.png 400w"
                                                        sizes="(max-width: 512px) 100vw, 512px" title="idiomas (1)">
                                                </a>
                                            </figure>
                                            <h3 class="services__card-title gt3-core-imagebox-title">
                                                <a href="https://globalexchange.com.ec/cursos-idioma-local/index.htm">CURSOS
                                                    ESPECIALES</a>
                                            </h3>
                                        </div>
                                        <p class="services__card-desc gt3-core-imagebox-description">Además de nuestros
                                            programas en el Exterior Global Exchange te ofrece asesoría para el ingreso
                                            y aplicación a las mejores Universidades del Mundo. Estaremos gustosos de
                                            ofrecerte las mejores alternativas y servicios para tus estudios superiores
                                            en el exterior.</p>
                                    </div>
                                </div>
                                <a href="#"></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>