<!--
====================================================
COMPONENTE: FOREIGN COURSES INTRO
====================================================
-->

<section class="foreign-courses-intro">

    <div class="foreign-courses-intro__container">

        <header class="foreign-courses-intro__header">

            <h2 class="foreign-courses-intro__title">
                Expande tus conocimientos aprendiendo un nuevo idioma
            </h2>

            <p class="foreign-courses-intro__description">
                Aprendizaje y perfeccionamiento de idiomas en cualquier
                parte del mundo. Tú eliges el destino y el idioma que
                quieres aprender o perfeccionar.
            </p>

            <p class="foreign-courses-intro__description">
                Vive con una familia anfitriona o en el campus de
                nuestros institutos calificados y disfruta la experiencia
                de aprender un nuevo idioma y conocer una nueva cultura.
            </p>

        </header>

    </div>

</section>
