<!--
====================================================
COMPONENTE: FOREIGN COURSES INTRO

Página:
Cursos de idiomas en el extranjero

Responsabilidades:
- Presentación inicial del programa.
- Internacionalización mediante i18next.
====================================================
-->

<section class="foreign-courses-intro">

    <div class="page-container foreign-courses-intro__container">

        <header class="foreign-courses-intro__header">

            <h2 class="foreign-courses-intro__title"
                data-i18n="internationalProgramsPage.languageCoursesAbroad.intro.title">
                Expande tus conocimientos aprendiendo un nuevo idioma
            </h2>


            <p class="foreign-courses-intro__description"
                data-i18n="internationalProgramsPage.languageCoursesAbroad.intro.paragraph1">
                Aprendizaje y perfeccionamiento de idiomas en cualquier
                parte del mundo. Tú eliges el destino y el idioma que
                quieres aprender o perfeccionar.
            </p>


            <p class="foreign-courses-intro__description"
                data-i18n="internationalProgramsPage.languageCoursesAbroad.intro.paragraph2">
                Vive con una familia anfitriona o en el campus de
                nuestros institutos calificados y disfruta la experiencia
                de aprender un nuevo idioma y conocer una nueva cultura.
            </p>

        </header>

    </div>

</section>