<!--
====================================================
COMPONENTE: FOREIGN COURSES TABS

Página:
Cursos de idiomas en el extranjero
====================================================
-->

<section class="foreign-courses-tabs">

    <div class="foreign-courses-tabs__container">

        <p class="foreign-courses-tabs__eyebrow">
            Global Exchange
        </p>

        <!-- ==========================================
             NAVEGACIÓN
        ========================================== -->

        <div class="foreign-courses-tabs__navigation" role="tablist"
            aria-label="Información de cursos en el extranjero">

            <button class="foreign-courses-tabs__button is-active" id="foreign-tab-destinations" type="button"
                role="tab" aria-selected="true" aria-controls="foreign-panel-destinations"
                data-foreign-tab="destinations">

                <img class="foreign-courses-tabs__icon" src="/images/foreign-courses/img_box_29_1.png" alt=""
                    aria-hidden="true">

                <span class="foreign-courses-tabs__label">
                    Destinos
                </span>

            </button>

            <button class="foreign-courses-tabs__button" id="foreign-tab-requirements" type="button" role="tab"
                aria-selected="false" aria-controls="foreign-panel-requirements" data-foreign-tab="requirements"
                tabindex="-1">

                <img class="foreign-courses-tabs__icon" src="/images/foreign-courses/img_box_30_1.png" alt=""
                    aria-hidden="true">

                <span class="foreign-courses-tabs__label">
                    Requisitos
                </span>

            </button>

            <button class="foreign-courses-tabs__button" id="foreign-tab-services" type="button" role="tab"
                aria-selected="false" aria-controls="foreign-panel-services" data-foreign-tab="services" tabindex="-1">

                <img class="foreign-courses-tabs__icon" src="/images/foreign-courses/img_box_32_1.png" alt=""
                    aria-hidden="true">

                <span class="foreign-courses-tabs__label">
                    Servicios
                </span>

            </button>

            <button class="foreign-courses-tabs__button" id="foreign-tab-benefits" type="button" role="tab"
                aria-selected="false" aria-controls="foreign-panel-benefits" data-foreign-tab="benefits" tabindex="-1">

                <img class="foreign-courses-tabs__icon" src="/images/foreign-courses/img_box_31_1.png" alt=""
                    aria-hidden="true">

                <span class="foreign-courses-tabs__label">
                    Beneficios
                </span>

            </button>

        </div>

        <!-- ==========================================
             PANELES
        ========================================== -->

        <div class="foreign-courses-tabs__panels">

            <div class="foreign-courses-tabs__panel is-active" id="foreign-panel-destinations" role="tabpanel"
                aria-labelledby="foreign-tab-destinations" data-foreign-panel="destinations">

                @@include('./Foreign_Courses_Destinations.html')

            </div>

            <div class="foreign-courses-tabs__panel" id="foreign-panel-requirements" role="tabpanel"
                aria-labelledby="foreign-tab-requirements" data-foreign-panel="requirements" hidden>

                @@include('./Foreign_Courses_Requirements.html')

            </div>

            <div class="foreign-courses-tabs__panel" id="foreign-panel-services" role="tabpanel"
                aria-labelledby="foreign-tab-services" data-foreign-panel="services" hidden>

                @@include('./Foreign_Courses_Services.html')

            </div>

            <div class="foreign-courses-tabs__panel" id="foreign-panel-benefits" role="tabpanel"
                aria-labelledby="foreign-tab-benefits" data-foreign-panel="benefits" hidden>

                @@include('./Foreign_Courses_Benefits.html')

            </div>

        </div>

    </div>

</section>