<!--
====================================================
COMPONENTE: HEADER

Origen:
index.htm (sección HEADER)

Estado:
Migrado con limpieza de HTML y clase semántica añadida.

Observaciones:
- Se añadió clase "header" para CSS propio
- Se conservan todas las clases de WordPress y Elementor
- CORREGIDO: Se eliminaron IDs duplicados (menu-item-9343)
- CORREGIDO: Se eliminaron todos los IDs menu-item-* generados por WordPress
- Se conservan las clases originales para mantener compatibilidad con CSS
- Los scripts JSON de Elementor se mantienen temporalmente

Fase:
3 - Migración del HTML.
====================================================
-->

<header class="header">
    <div class="header__container">
        <!-- Logo -->
        <div class="header__logo elementor-element elementor-element-74b3b867 elementor-widget__width-auto elementor-widget elementor-widget-wpda-header-logo"
            data-id="74b3b867" data-element_type="widget" data-widget_type="wpda-header-logo.default">
            <div class="elementor-widget-container">
                <div class="wpda-builder-logo_container ">
                    <a href="index.htm">
                        <img class="wpda-builder-logo" src="/images/logo-1.png"
                            alt="Global Exchange Logo" title="logo (1)">
                    </a>
                </div>
            </div>
        </div>

        <!-- Menú de navegación -->
        <div class="header__nav elementor-element elementor-element-f89fc0c elementor-widget__width-auto elementor-widget elementor-widget-wpda-builder-menu"
            data-id="f89fc0c" data-element_type="widget" data-widget_type="wpda-builder-menu.default">
            <div class="elementor-widget-container">
                <div class="wpda-mobile-navigation-toggle">
                    <div class="wpda-toggle-box">
                        <div class="wpda-toggle-inner"></div>
                    </div>
                </div>
                <div class="wpda-navbar-collapse">
                    <nav class="wpda-builder-menu">
                        <ul id="menu-main-menu" class="header__menu wpda-menu">
                            <li
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6782 current_page_item">
                                <a href="index.htm">Inicio</a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                <a href="#">Global</a>
                                <ul class="sub-menu">
                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page megamenu-item-has-title">
                                        <a href="nuestra-historia/index.htm">Nosotros</a>
                                    </li>
                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page megamenu-item-has-title">
                                        <a href="preguntas/index.htm">Preguntas</a>
                                    </li>
                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page megamenu-item-has-title">
                                        <a href="https://correos.globalexchange.com.ec/">Correo Empresarial</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                <a href="#">Programas</a>
                                <ul class="sub-menu">
                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children megamenu-item-has-title">
                                        <a href="#">Programas Nacionales</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a href="cursos-idioma-local/index.htm">Cursos de Idioma Local</a>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a href="espanol-para-extranjeros-ecoturismo/index.htm">Español para
                                                    extranjeros – ecoturismo</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children megamenu-item-has-title">
                                        <a href="#">Programas Internacionales</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a href="cursos-de-idiomas-en-el-extranjero-2/index.htm">Cursos de
                                                    idiomas en el extranjero</a>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a href="services/index.htm">Programa de escolaridad</a>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a href="pasantias-profesionales-en-el-exterior/index.htm">Pasantías
                                                    profesionales en el exterior</a>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a href="programa-nanny-intercambios-alemania-usa-holanda/index.htm">Programa
                                                    Nanny</a>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a href="summer-camps/index.htm">Summer Camps</a>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a href="acceso-universitario/index.htm">Educación en el exterior</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="testimonios/index.htm">Testimonios</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="contactoss/index.htm">Contactos</a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                <a href="../">ES</a>
                                <ul class="sub-menu">
                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page megamenu-item-has-title">
                                        <a href="./EN">EN</a>
                                    </li>
                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page megamenu-item-has-title">
                                        <a href="./GR">GR</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-virtual">
                                <a href="https://virtual.globalexchange.com.ec/" class="btn-virtual">Virtual</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Botón Contactanos -->
        <div class="header__button gt3-core-button--alignment_center elementor-element elementor-element-48a0292 elementor-widget__width-auto elementor-hidden-phone elementor-widget elementor-widget-gt3-core-button"
            data-id="48a0292" data-element_type="widget" data-widget_type="gt3-core-button.default">
            <div class="elementor-widget-container">
                <div
                    class="gt3_module_button_elementor size_custom alignment_center button_icon_none hover_type5 rounded">
                    <a class="button_size_elementor_custom alignment_center border_icon_none hover_type5 btn_icon_position_left"
                        href="tel:+593983511575">
                        <span class="gt3_module_button__container">
                            <span class="elementor_gt3_btn_text">Contactanos</span>
                            <span class="gt3_module_button__cover front"></span>
                            <span class="gt3_module_button__cover back"></span>
                        </span>
                    </a>
                </div>
                <script type="application/json" id="settings--48a0292">[]</script>
            </div>
        </div>

        <!-- Buscador -->
        <div class="header__search elementor-element elementor-element-da910fb elementor-widget__width-auto elementor-widget-tablet__width-auto alignment-right elementor-hidden-phone elementor-widget elementor-widget-wpda-builder-search"
            data-id="da910fb" data-element_type="widget" data-widget_type="wpda-builder-search.default">
            <div class="elementor-widget-container">
                <div class="wpda-builder-search">
                    <div class="wpda-search_icon"><i></i></div>
                    <div class="wpda-search_inner">
                        <form role="search" method="get" class="search_form gt3_search_form"
                            action="https://globalexchange.com.ec/">
                            <label for="search-form-620c63a558ef1">Search</label>
                            <input class="search_text" id="search-form-620c63a558ef1" type="text" name="s"
                                placeholder="Search">
                            <input class="search_submit" type="submit" value="Search">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Burger Sidebar (menú móvil) -->
        <div class="header__burger elementor-element elementor-element-3067e7d2 elementor-widget__width-auto elementor-widget-tablet__width-auto elementor-hidden-phone elementor-widget elementor-widget-wpda-builder-burger-sidebar"
            data-id="3067e7d2" data-element_type="widget" data-widget_type="wpda-builder-burger-sidebar.default">
            <div class="elementor-widget-container">
                <div class="wpda-builder-burger_sidebar" data-id="3067e7d2">
                    <i class="burger_sidebar_icon"><span class="first"></span><span class="second"></span><span
                            class="third"></span></i>
                </div>
            </div>
        </div>
    </div>
</header>