<!--
====================================================
COMPONENTE: PROGRAMS GRID

Origen:
index.htm (sección - elementor-section-2612415)

Estado:
Migrado con limpieza de HTML.

Observaciones:
- Conserva todas las clases de Elementor
- CORREGIDO: Se eliminaron las etiquetas <center> obsoletas (HTML5)
- CORREGIDO: Se eliminaron divs de texto vacíos
- CORREGIDO: Se eliminaron enlaces vacíos <a href="#"></a>
- Las imágenes duplicadas se mantienen (efecto hover del GT3 Theme)
- Se conserva el script JSON de Elementor (settings--0cd96d5)

Fase:
3 - Migración del HTML.
====================================================
-->

<section
    class="elementor-section elementor-top-section elementor-element elementor-element-2612415 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="2612415" data-element_type="section"
    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-070e3dc"
                data-id="070e3dc" data-element_type="column"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-95b5262 elementor-invisible elementor-widget elementor-widget-heading"
                            data-id="95b5262" data-element_type="widget"
                            data-settings="{&quot;_animation&quot;:&quot;lightSpeedIn&quot;}"
                            data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">
                                    ¡Te invitamos a conocer nuestro Mundo Global!
                                    <br><br>
                                    Busca tu punto de interés en nuestro mapa interactivo. ¡Consulta también nuestros
                                    destinos en Ecuador!
                                </h2>
                            </div>
                        </div>
                        <div class="gt3-core-button--alignment_inline elementor-element elementor-element-0cd96d5 elementor-widget elementor-widget-gt3-core-button"
                            data-id="0cd96d5" data-element_type="widget" data-widget_type="gt3-core-button.default">
                            <div class="elementor-widget-container">
                                <div
                                    class="gt3_module_button_elementor size_custom alignment_inline button_icon_none hover_none rounded">
                                    <a class="button_size_elementor_custom alignment_inline border_icon_none hover_none btn_icon_position_left"
                                        href="https://globalexchange.com.ec/nuestra-historia/index.htm">
                                        <span class="gt3_module_button__container">
                                            <span class="gt3_module_button__cover front"><span
                                                    class="elementor_gt3_btn_text">Descubre mas</span></span>
                                        </span>
                                    </a>
                                </div>
                                <script type="application/json" id="settings--0cd96d5">[]</script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-305a0ea"
                data-id="305a0ea" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <section
                            class="elementor-section elementor-inner-section elementor-element elementor-element-bac22bd elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                            data-id="bac22bd" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-e66bff8"
                                        data-id="e66bff8" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-5530f44 animated-slow elementor-position-top elementor-vertical-align-top elementor-invisible elementor-widget elementor-widget-gt3-core-imagebox"
                                                    data-id="5530f44" data-element_type="widget"
                                                    data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;}"
                                                    data-widget_type="gt3-core-imagebox.default">
                                                    <div class="elementor-widget-container">
                                                        <div
                                                            class="gt3-core-imagebox-wrapper elementor-image_icon-position-default">
                                                            <figure
                                                                class="gt3-core-imagebox-img gt3-core-imagebox-img_hover">
                                                                <a href="#">
                                                                    <img width="150" height="150"
                                                                        src="wp-content/uploads/2020/06/clases-local-150x150.jpg"
                                                                        class="attachment-thumbnail size-thumbnail"
                                                                        alt="" loading="lazy"
                                                                        srcset="wp-content/uploads/2020/06/clases-local-150x150.jpg 150w, wp-content/uploads/2020/06/clases-local-800x800.jpg 800w, wp-content/uploads/2020/06/clases-local-400x400.jpg 400w"
                                                                        sizes="(max-width: 150px) 100vw, 150px"
                                                                        title="clases-local">
                                                                    <img width="150" height="150"
                                                                        src="wp-content/uploads/2020/06/clases-local-150x150.jpg"
                                                                        class="attachment-thumbnail size-thumbnail"
                                                                        alt="" loading="lazy"
                                                                        srcset="wp-content/uploads/2020/06/clases-local-150x150.jpg 150w, wp-content/uploads/2020/06/clases-local-800x800.jpg 800w, wp-content/uploads/2020/06/clases-local-400x400.jpg 400w"
                                                                        sizes="(max-width: 150px) 100vw, 150px"
                                                                        title="clases-local">
                                                                </a>
                                                            </figure>
                                                            <div class="gt3-core-imagebox-content">
                                                                <div class="gt3-core-imagebox-title">
                                                                    <h3 class="gt3-core-imagebox-title">
                                                                        <a
                                                                            href="https://globalexchange.com.ec/services/index.htm">PROGRAMA
                                                                            DE ESCOLARIDAD</a>
                                                                    </h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-ac4fc8e elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-gt3-core-imagebox"
                                                    data-id="ac4fc8e" data-element_type="widget"
                                                    data-widget_type="gt3-core-imagebox.default">
                                                    <div class="elementor-widget-container">
                                                        <div
                                                            class="gt3-core-imagebox-wrapper elementor-image_icon-position-default">
                                                            <figure
                                                                class="gt3-core-imagebox-img gt3-core-imagebox-img_hover">
                                                                <a href="#">
                                                                    <img width="150" height="150"
                                                                        src="wp-content/uploads/2020/06/Estudiar-en-el-extranjero-3-1080x675-1-150x150.jpg"
                                                                        class="attachment-thumbnail size-thumbnail"
                                                                        alt="" loading="lazy"
                                                                        srcset="wp-content/uploads/2020/06/Estudiar-en-el-extranjero-3-1080x675-1-150x150.jpg 150w, wp-content/uploads/2020/06/Estudiar-en-el-extranjero-3-1080x675-1-400x400.jpg 400w"
                                                                        sizes="(max-width: 150px) 100vw, 150px"
                                                                        title="Estudiar-en-el-extranjero-3-1080x675">
                                                                    <img width="150" height="150"
                                                                        src="wp-content/uploads/2020/06/Estudiar-en-el-extranjero-3-1080x675-1-150x150.jpg"
                                                                        class="attachment-thumbnail size-thumbnail"
                                                                        alt="" loading="lazy"
                                                                        srcset="wp-content/uploads/2020/06/Estudiar-en-el-extranjero-3-1080x675-1-150x150.jpg 150w, wp-content/uploads/2020/06/Estudiar-en-el-extranjero-3-1080x675-1-400x400.jpg 400w"
                                                                        sizes="(max-width: 150px) 100vw, 150px"
                                                                        title="Estudiar-en-el-extranjero-3-1080x675">
                                                                </a>
                                                            </figure>
                                                            <div class="gt3-core-imagebox-content">
                                                                <div class="gt3-core-imagebox-title">
                                                                    <h3 class="gt3-core-imagebox-title">
                                                                        <a
                                                                            href="https://globalexchange.com.ec/pasantias-profesionales-en-el-exterior/index.htm">PASANTIAS
                                                                            PROFESIONALES EN EL EXTERIOR</a>
                                                                    </h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a2467fa"
                                        data-id="a2467fa" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-8e5b0d5 elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-gt3-core-imagebox"
                                                    data-id="8e5b0d5" data-element_type="widget"
                                                    data-widget_type="gt3-core-imagebox.default">
                                                    <div class="elementor-widget-container">
                                                        <div
                                                            class="gt3-core-imagebox-wrapper elementor-image_icon-position-default">
                                                            <figure
                                                                class="gt3-core-imagebox-img gt3-core-imagebox-img_hover">
                                                                <a href="#">
                                                                    <img width="150" height="150"
                                                                        src="wp-content/uploads/2020/04/1.jpg"
                                                                        class="attachment-thumbnail size-thumbnail"
                                                                        alt="" loading="lazy"
                                                                        srcset="wp-content/uploads/2020/04/1.jpg 150w, wp-content/uploads/2020/04/1.jpg 800w, wp-content/uploads/2020/04/1.jpg 400w"
                                                                        sizes="(max-width: 150px) 100vw, 150px"
                                                                        title="1.jpg">
                                                                    <img width="150" height="150"
                                                                        src="wp-content/uploads/2020/04/1.jpg"
                                                                        class="attachment-thumbnail size-thumbnail"
                                                                        alt="" loading="lazy"
                                                                        srcset="wp-content/uploads/2020/04/1.jpg 150w, wp-content/uploads/2020/04/1.jpg 800w, wp-content/uploads/2020/04/1.jpg 400w"
                                                                        sizes="(max-width: 150px) 100vw, 150px"
                                                                        title="1.jpg">
                                                                </a>
                                                            </figure>
                                                            <div class="gt3-core-imagebox-content">
                                                                <div class="gt3-core-imagebox-title">
                                                                    <h3 class="gt3-core-imagebox-title">
                                                                        <a
                                                                            href="https://globalexchange.com.ec/summer-camps/index.htm">SUMMER
                                                                            <br> CAMPS</a>
                                                                    </h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-5f8bd3c animated-slow elementor-position-top elementor-vertical-align-top elementor-invisible elementor-widget elementor-widget-gt3-core-imagebox"
                                                    data-id="5f8bd3c" data-element_type="widget"
                                                    data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;}"
                                                    data-widget_type="gt3-core-imagebox.default">
                                                    <div class="elementor-widget-container">
                                                        <div
                                                            class="gt3-core-imagebox-wrapper elementor-image_icon-position-default">
                                                            <figure
                                                                class="gt3-core-imagebox-img gt3-core-imagebox-img_hover">
                                                                <a href="#">
                                                                    <img width="150" height="150"
                                                                        src="wp-content/uploads/2021/09/como-conocer-gente-de-otros-paises-para-viajes-150x150.jpg"
                                                                        class="attachment-thumbnail size-thumbnail"
                                                                        alt="" loading="lazy"
                                                                        srcset="wp-content/uploads/2021/09/como-conocer-gente-de-otros-paises-para-viajes-150x150.jpg 150w, wp-content/uploads/2021/09/como-conocer-gente-de-otros-paises-para-viajes-400x400.jpg 400w"
                                                                        sizes="(max-width: 150px) 100vw, 150px"
                                                                        title="como-conocer-gente-de-otros-paises-para-viajes">
                                                                    <img width="150" height="150"
                                                                        src="wp-content/uploads/2021/09/como-conocer-gente-de-otros-paises-para-viajes-150x150.jpg"
                                                                        class="attachment-thumbnail size-thumbnail"
                                                                        alt="" loading="lazy"
                                                                        srcset="wp-content/uploads/2021/09/como-conocer-gente-de-otros-paises-para-viajes-150x150.jpg 150w, wp-content/uploads/2021/09/como-conocer-gente-de-otros-paises-para-viajes-400x400.jpg 400w"
                                                                        sizes="(max-width: 150px) 100vw, 150px"
                                                                        title="como-conocer-gente-de-otros-paises-para-viajes">
                                                                </a>
                                                            </figure>
                                                            <div class="gt3-core-imagebox-content">
                                                                <div class="gt3-core-imagebox-title">
                                                                    <h3 class="gt3-core-imagebox-title">
                                                                        <a
                                                                            href="https://globalexchange.com.ec/programa-nanny-intercambios-alemania-usa-holanda/index.htm">UNIVERSIDADES
                                                                            <br> EN EL<br> EXTERIOR</a>
                                                                    </h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>